In [1]:
import pandas as pd

df = pd.read_parquet("predictions.parquet")

In [2]:
df

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_776,pixel_777,pixel_778,pixel_779,pixel_780,pixel_781,pixel_782,pixel_783,target,timestamp
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-0.623529,-0.113725,-0.113725,...,0.137255,-0.364706,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,6,2024-06-08 09:24:54.075952
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1,2024-06-08 09:24:58.976413